<!DOCTYPE html>
<html>
<head>
    <title>Upload</title>
</head>
<body>
    <h1>Upload your Facebook data!</h1>
    <h3>Accessible through <a href="https://apps.facebook.com/give_me_my_data/">Give Me My Data</a></h3>
    <form action="" method="post">
        <p>
            <label>Friend Attributes</label>
            <br>
            <textarea name="friend_attributes"></textarea>
            <!--<input type="text" name="friend_attributes">-->
        </p>
        <p>
            <label>Friend Edges</label>
            <br>
            <textarea name="friend_edges"></textarea>
            <!--<input type="text" name="friend_edges">-->
        </p>
        <p>
            <input type="submit" value="Upload!">
        </p>
    </form>
</body>
</html>